.infoBox {
    width: 30%;
    color: white;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    cursor: pointer;
}

.infoBox--selected {
    border-top: 5px solid rgba( 255, 255, 255, 0.8);
    /* color: azure; */
}

@media (max-width:663px) {
    /* .infoBox {
        width: 100%;
    } */
}