:root {
    --white: #fff;
    --yellow: #fece00;
    --cream: #ff834e;
}

.home {
    background-color: #2f57bf;
}

.home_container {
    width: 100%;
}

.home_cn2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
}

.home_cn2>div {
    padding-bottom: 30px;
}

.home_top {
    margin-top: 25px;
}

.home_h2 {
    font-size: 2.5rem;
    color: var(--white);
    font-weight: 700;
    opacity: 1;
    width: 100%;
    height: 20%;
    margin-top: 10px;
    font-family: sans-serif;
}

.home_19 {
    color: var(--yellow);
}

.home_middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-bottom: 25px;
}

.middle_left {
    padding-right: 10px;
    justify-content: center;
    align-items: center;
}

.middle_right {
    display: flex;
    justify-content: center;
    position: relative;
}

.around_img {
    background-color: #2f57bf;
    border-top: 2px solid #7395ec;
    border-bottom: 2px solid #7395ec;
    width: 350px;
    height: 350px;
    position: relative;
    margin-left: 20px;
    border-radius: 50%;
}

.middle_right img {
    border-radius: 50%;
    height: 75%;
    width: 75%;
    position: absolute;
    left: 50%;
    border-top: 2px solid #fece00;
    border-bottom: 2px solid #fece00;
    top: 50%;
    transform: translate(-50%, -50%);
}

.paly_video {
    position: absolute;
    bottom: 7%;
    left: 25%;
}

.paly_video a {
    text-decoration: none;
    background-color: #fece00;
    padding: 6px 9px 8px 13px;
    border: 2px solid #f0dd8a;
    color: black;
    border-radius: 50%;
    font-size: 1.2rem;
}

.paly_video p {
    color: var(--white);
    font-size: 0.9rem;
    font-weight: 500;
    margin-top: 10px;
    opacity: 0.8;
}

.p1 {
    color: var(--white);
    opacity: 0.8;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: 700;
    margin: 0;
}

.p2 {
    font-size: 3.8rem;
    color: var(--white);
    margin: 0;
    width: 100%;
    margin-bottom: 20px;
}

.p3 {
    color: var(--white);
    font-weight: 600;
    opacity: 0.8;
    font-size: 0.8rem;
    font-family: sans-serif;
    letter-spacing: 0.5px;
    line-height: 18px;
    margin-bottom: 20px;
}

.home_boxes {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.middle_left .link {
    text-decoration: none;
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--yellow);
}

@media (min-width:664px) and (max-width:992px) {
    .home_container {
        background-color: #5268e7;
    }
}

@media (min-width:663px) {
    .home {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .home_h2 {
        font-size: 1rem;
        opacity: 0.8;
        text-align: left;
    }
    .home_container {
        position: relative;
        width: 90%;
        max-width: 1170px;
        height: 90%;
        background-color: #5268e7;
        margin: auto;
        border-radius: 30px;
    }
    .home_cn2 {
        position: absolute;
        width: 90%;
        height: 100%;
        left: 50%;
        top: 50%;
        justify-content: space-around;
        align-items: flex-start;
        transform: translate(-50%, -50%);
    }
    .home_middle {
        flex-direction: row;
        width: 100%;
    }
    .middle_left {
        width: 50%;
    }
    .middle_right {
        width: 50%;
    }
    .home_boxes {
        width: 90%;
        align-items: flex-start;
    }
}

.n {
    background-color: #f36e88;
    background-color: #658cee;
    background-color: #5edd7e;
}